body{
  font-family: Arial, Helvetica, sans-serif;
}
.success{
  position: absolute;
  z-index:  100;
  top:      0px;
  width: 100%;
  height: 100%;
  background: rgba(60, 60, 66, 0.0);
}

h2{
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  font-size: 56px;
  color: rgb(22, 22, 23);
  margin-top: 280px;
}


.area{
  width: 211px;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.addBtn{
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  /* margin: 10px 0 10px 10px; */
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  }
.addBtn:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li.checked {
  text-decoration: line-through;
}

span.close{
  text-decoration: none;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #d76a6a 0%, #de3333 50%, #780000 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
  position: absolute;
  right: 47px;
}

span.close:hover{
  box-shadow: 0 0 0 0 rgba(120, 0, 0, 0);
  background-position: 0 0;
}

body{
  background: hwb(177 70% 4%);
}

h1{
  text-align: center;
  margin-bottom: 0;
  color: #002878;
  font-size: 36px;
}

.container{
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-gap: 1vw;
  width: 1000px;
  margin: 0 auto;
}

.area li::first-letter{
  text-transform: uppercase;
}

.bubble-container {
  justify-content: center;
  padding: 20px ;
  margin: 5px 0;
  position: relative;
}

.bubble-content {
  width: 280px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.9);
  position: relative;
  z-index: 10;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border-radius: 20px;
}
span.bubble {
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: blow 2s ease-in infinite;
  transition: all 400ms ease;
}
@keyframes blow {
  0% {
      transform: translate(-50%, -50%) scale(0.1);
      opacity: 0;
  }
  10% {
      transform: translate(-50%, -50%);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -100%);
      opacity: 0;
  }
}
#block{
  text-align: center;
}